language: ruby
rvm:
- 2.3.1
env:
- DB=postgresql
before_install:
- gem install bundler -v "=1.10.6"
script:
- RAILS_ENV=test bundle exec rake db:migrate --trace
- bundle exec rake db:test:prepare
- bundle exec rake
before_script:
- psql -c 'create database formic_test' -U postgres
