language: ruby
rvm:
- 2.3.1
env:
- DB=postgresql
install:
- gem uninstall bundler -x
- gem install bundler -v "=1.10.6"
- bundle install
script:
- bundle exec rake db:migrate RAILS_ENV=test
- bundle exec rake db:test:prepare
- bundle exec rake
before_script:
- psql -c 'create database formic_test' -U postgres
notifications:
  email: false
