<% provide(:title, 'Homework') %>
<% provide(:top_title, 'Your Homework') %>
<% provide(:top_link, user_path(current_user)) %>
<% provide(:top_tip, 'Back to timetable') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="assignments-cont">
      <div class="assignment-head">
        <i class="material-icons right-arrow">keyboard_arrow_right</i>
        <i class="material-icons down-arrow">keyboard_arrow_down</i>
        <h2>Pending Homework:</h2>
      </div>
      <ul class="record-list">
        <% @pending.each do |assignment| %>
            <%= render assignment %>
        <% end %>
      </ul>
    </div>

    <div class="assignments-cont no-show">
      <div class="assignment-head">
        <i class="material-icons right-arrow">keyboard_arrow_right</i>
        <i class="material-icons down-arrow">keyboard_arrow_down</i>
        <h2>Past Homework:</h2>
      </div>
      <ul class="record-list">
        <% @past.each do |assignment| %>
            <%= render assignment %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
