<% provide(:title, 'Timetable') %>
<% provide(:top_title, 'Your Timetable') %>

<div style="display:flex;">


  <div class="assignments-cont">
    <h2>Upcoming Assignments:</h2>
    <ul class="record-list">
      <% if @assignments %>
          <% @assignments.each do |assignment| %>
              <%= render assignment %>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
