<% provide(:title, 'Contact Us') %>
<% provide(:static, 'static') %>
<div class="static-land"></div>

<div class="static-center">
  <h1>Contact Us</h1>
  <h2>For any queries or further information, please email: <a href="mailto:hello@alexmacpherson.uk" target="_blank">hello@alexmacpherson.uk</a></h2>
</div>
