<% provide(:title, 'Features') %>
<% provide(:static, 'static') %>
<div class="static-land"></div>

<div class="static-center">
  <h1>Features</h1>
  <h2>Using the tools Formic provides to improve your school's teaching and learning.</h2>
  <%= link_to 'Learn More', about_path, class: 'static-button' %>
</div>
