<h1>Static#home</h1>

<div class="box-row">
  <div class="box box-half">
    <p>Find me in app/views/static/home.html.erb</p>
  </div>
  <div class="box box-half"></div>
</div>

<div class="box-row">
  <div class="box box-two-third"></div>
  <div class="box box-third"></div>
</div>

<div class="box-row">
  <div class="box box-third"></div>
  <div class="box box-third"></div>
  <div class="box box-third"></div>
</div>