<% provide(:static, 'static') %>
<div class="static-land"></div>

<div class="static-center">
  <h1>Formic Learning</h1>
  <h2>Simplify your education.</h2>
  <%= link_to 'Learn More', about_path, class: 'static-button' %>
</div>