# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

ready = ->
  window.addEventListener 'error', ((e) ->
    error = $(e.target)
    if error.hasClass('avatar')
      error.attr('src', '<%= image_path('balls.svg') %>')
      error.after('<label><i class="material-icons" style="transform: translateY(6px);">perm_identity</i> Your avatar will be updated when you save your profile.</label>')
    return
  ), true

$(document).on 'turbolinks:load', ready