// Default ting
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";
@import "layouts";
@import "sidebar";
@import "inputs";
@import "pagination";

// Pls delet system 34
@import "style";

// Controllers
@import "static";
@import "users";
@import "schools";
@import "notifications";
@import "chats";
@import "simple_calendar";
@import "timetable";
@import "assignments";

// Fonts:
//font-family: 'Rubik', sans-serif;
//font-family: 'Ubuntu', sans-serif;