@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

textarea, input, button, select {
  outline: none !important;
}

textarea {
  resize: vertical;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.formic-form {
  padding: 6px 0;
  font-size: 20px;
  border: none;
  border-bottom: solid 4px #b0b0b0;
  border-radius: 2px;
  background: none;
  box-shadow: none;
  transition: background .25s ease-in-out, padding .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
  color: #555555;
}

.formic-form:hover, .formic-form:focus {
  padding: 6px 12px;
  border-bottom: solid 4px #909090;
}

.formic-form:focus {
  background: $front-alt;
  border-radius: 5px;
  border-bottom: solid 4px $accent-dark;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #555555 !important;
  border-radius: 5px;
  padding: 6px 6px;
}

.form-text {
  display: block;
  margin: -5px 0 20px;
  text-align: center;
}

.form-row {
  display: flex;
  margin: 0 0 20px;
  justify-content: space-around;
}

.formic-button {
  color: $front;
  background: $accent;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px 0;
  transition: .25s ease-in-out;
}

.formic-button:hover, .formic-button:focus, .formic-button:active {
  color: $front-alt;
  background: $accent-dark;
}

.formic-button:active {
  transition: .1s ease-in-out;
  background: $accent-alt;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b0b0b0;
  transition: .25s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $front-alt;
  transition: .25s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $accent;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accent-alt;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.file-upload {
  background: none;
  border: none;
  box-shadow: none;
  margin: 5px 0 0;
}

.avatar-button {
  cursor: pointer;
  position: relative;

  input {
    display: none;
  }

  .avatar:before {
    content: "";
  }

  input:checked + .avatar {
    filter: brightness(40%);
  }

  .avatar-delete {
    position: absolute;
    transform: translateY(-30px);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #f5f5f5;
    background: rgba(0,0,0,0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.field_with_errors {
  @extend .has-error;
  .formic-form {
    color: $state-danger-text;
    border-color: $state-danger-text;
  }
}