html {
  height: 100%;
  @include box_sizing;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $accent;
  transition: color .25s ease-in-out, background .25s ease-in-out;
}

a:visited {
  color: $accent-dark;
}

a:hover {
  color: $accent-light;
}

a:active {
  transition: opacity .1s ease-in-out;
  color: $accent-alt;
}

body {
  position: relative;
  height: 100%;
  background-color: $mid;
  font-family: 'Ubuntu', sans-serif;
}

.cont, .cont-side {
  margin: 0;
  padding-bottom: 6rem;
  position: relative;
  min-height: 100%;
  z-index: 1;
}

.cont-side {
  margin: 0 0 0 $sidebar-width;
  width: $main-width;
}

.divider {
  background-color: $text-dark;
  opacity: 0.12;
  height: 1px;
  margin: 1rem 5vw;
}

.top-bar {
  position: relative;
  margin: 0 0 10px 0;
  height: 65px;

  input, .search-button {
    position: absolute;
    right: 0;
    width: 250px;
    margin: 10px calc(3vw + 50px);
    padding: 10px 20px;
    background: $front-alt;
    opacity: $secondary-text-light;
    border: none;
    border-radius: 20px 0 0 20px;
    box-shadow: #000000 0 0 10px -5px;
    transition: opacity .25s ease-in-out;

    &:hover, &:focus {
      opacity: $primary-text-dark;
    }
  }

  .search-button {
    margin: 10px 3vw;
    padding: 8px 12px;
    width: 50px;
    height: 40px;
    border-radius: 0 20px 20px 0;
    text-align: left;

    &:hover, &:focus {
      opacity: $primary-text-light;
    }
  }

  .divider {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10vw);
    margin: 0 5vw;
  }
}

.top-title {
  float: left;
  font-size: 45px;
  font-weight: bold;
  margin-left: 3vw;
  cursor: default;
  font-family: 'Rubik Medium', sans-serif;

  .top-text {
    float: left;
    opacity: $secondary-text-dark;
  }

  .top-link {
    float: left;
    margin: 7px 15px 0 0;
    height: 48px;
    width: 48px;
    border-radius: 25px;
    color: $front;
    background: $accent-dark;
    box-shadow: #000000 0 0 10px -5px;

    .material-icons {
      font-size: 36px;
      position: absolute;
      margin: 6px;
    }

    &:visited {
      color: $front;
      background: $accent-dark;
    }

    &:hover, &:focus {
      color: $front-alt;
      background: $accent;
    }

    &:active {
      color: $front;
      background: $accent-alt;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 0 1rem;
  font-size: small;
  cursor: default;
  text-align: center;

  span {
    color: $text-dark;
    padding: 0 1rem;

    &.footer-faded {
      opacity: $secondary-text-dark;
    }
  }
}

.footer .logo, .profile-info .logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.main {
  @include box_sizing;
  padding: 0 3vw 1vw;
}

.alert {
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 22px;
  animation: alert-fade 0.5s 5s forwards running;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  z-index: 100;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.error-alert {
  position: fixed;
  top: 0;
  left: 72px;
  right: 0;
}

@keyframes alert-fade {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Rubik Medium', sans-serif;
}

h1, h2, h3 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2, h3 {
  font-size: 2.1em;
  letter-spacing: -1.5px;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
}

.rm-bottom {
  margin-bottom: 0 !important;
}

.rm-top {
  margin-top: 0 !important;
}