// Background Colours
$back:      #212121;
$back-alt:  #303030;
$mid:       #eceff1;
$front:     #f9f9f9;
$front-alt: #ffffff;

// Accent Colours
$accent-light:  #e57373;
$accent:        #f44336;
$accent-dark:   #d32f2f;
$accent-alt:    #d50000;

// Text Colours
$text-light:  #ffffff;
$text-dark:   #000000;

// Item Opacities
$primary-text-dark:   0.87;
$secondary-text-dark: 0.54;
$disabled-text-dark:  0.38;

$primary-text-light:    1;
$secondary-text-light:  0.7;
$disabled-text-light:   0.5;

$divider-opacity: 0.12;

// Miscellaneous Colours
$border: #bdbdbd;

// Element Sizes
$sidebar-width: 72px;
$main-width: calc(100% - 72px); // 72px = sidebar width

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin scroll_bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: background-color .15s ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    transition: background-color .15s ease-in-out;
    //border: 5px solid rgba(0, 0, 0, 0);
    //background-clip: padding-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &::-webkit-scrollbar-button {
    transition: background-color .15s ease-in-out;
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    transition: background-color .15s ease-in-out;
    background-color: transparent;
  }
}