.notification-bubble {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $front;
  border-radius: 16px;
  transform: translate3d(26px, -42px, 0);
  @include box_sizing;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.notification-panel, .chats-panel {
  top: 161px;
  left: 105%;
  width: 400px;
  background-color: #f5f5f5;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  @include box_sizing;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s ease-in-out, visibility 0s linear 0.5s;
  box-shadow: #000000 0 0 30px -10px;
  font-family: 'Ubuntu', sans-serif;

  &.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  .clipping-box {
    overflow: hidden;
    border-radius: 7px;
  }

  li {
    border-left: solid 0 $accent-light;
    transition: .35s ease-in-out;
  }

  h3 {
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    cursor: default;
  }

  .read-all, .read-chats, .conversation-profile {
    position: absolute;
    right: 16px;
    top: 8px;
  }

  p {
    margin: 0;
    padding: 24px;
    color: #999999;
    cursor: default;
    border-top: solid 1px #dddddd;
  }

  .unread-notification, .unread-chat {
    border-left: solid 4px $accent-dark;
  }

  .unread-notification:hover, .unread-chat:hover {
    border-left: solid 6px $accent;
  }

  .unread-notification:active, .unread-chat:active {
    border-left: solid 4px $accent-alt;
    transition: border-left .1s ease-in-out;
  }

  .record-list {
    border-top: 1px solid #dddddd;
    max-height: 399px;
    overflow-x: hidden;
    overflow-y: auto;

    @include scroll_bar;

    .list-record {
      text-align: left;
      padding: 10px 20px;
      height: 57px;
      overflow: hidden;
      position: relative;
      transition: .35s ease-in-out;
      border-top: none;
      border-bottom: 1px solid #dddddd;

      &.read-notification, &.read-chat {
        color: #555555;
      }

      &:hover {
        padding: 10px 20px 10px 22px;
      }
    }

    .list-date {
      position: absolute;
      right: 20px;
    }
  }
}

.notification-panel::after {
  content: " ";
  position: absolute;
  top: 34px;
  right: 100%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  box-shadow: #000000 0 0 20px -10px;
}