// Place all the styles related to the Schools controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  object-fit: contain;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}