.side-bar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  background-color: $back;
  box-shadow: inset #000000 -20px 0px 25px -25px;
  @include box_sizing;
  z-index: 50;
  padding: 16px 0;
}

.nav-button {
  width: 72px;
  height: 72px;
  padding: 12px;
  float: left;
  cursor: pointer;
  @include box_sizing;

  .material-icons {
    font-size: 36px;
    padding: 5px;
  }

  .avatar {
    height: 100%;
    width: 100%;
    border-radius: 35px;
  }

  &:hover {
    background: $back-alt;
  }

  &.settings, &.logout {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.settings {
    bottom: 72px;
  }
}

.tip {
  position: relative;
  display: inline-block;
}

.tip .tip-text {
  top: 50%;
  transform: translateY(-50%);
  left: 105%;
  width: 120px;
  background-color: rgba(10,0,0,0.85);
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 5px;
  @include box_sizing;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity .45s ease-in-out, visibility 0s linear 0.45s;
}

.tip:hover .tip-text {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease-in-out 0.5s, visibility 0s linear 0s;
}

.tip .tip-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right-color: rgba(10,0,0,0.85);
}

.notification-bubble {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $front;
  border-radius: 16px;
  transform: translate3d(26px, -42px, 0);
  @include box_sizing;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.notification-panel {
  top: 89px;
  left: 105%;
  width: 400px;
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  @include box_sizing;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s ease-in-out, visibility 0s linear 0.5s;
  box-shadow: #000000 0 0 20px -10px;
  font-family: 'Ubuntu', sans-serif;

  &.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  h3 {
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    cursor: default;
  }

  p {
    margin: 0;
    padding: 24px;
    color: #999999;
    cursor: default;
    border-top: solid 1px #dddddd;
  }

  .unread-notification {
    border-left: solid 4px $accent-dark;
    transition: .35s ease-in-out;
  }

  .unread-notification:hover {
    border-left: solid 6px $accent;
  }

  .unread-notification:active {
    border-left: solid 4px $accent-alt;
    transition: border-left .1s ease-in-out;
  }

  .record-list {
    .list-record {
      text-align: left;
      padding: 10px 20px;
      position: relative;
      transition: .35s ease-in-out;

      &.read-notification {
        color: #555555;
      }

      &:hover {
        padding: 10px 20px 10px 22px;
      }
    }

    .list-date {
      position: absolute;
      right: 20px;
    }

    max-height: 427px;
    overflow-x: hidden;
    overflow-y: auto;

    @include scroll_bar;
  }
}

.notification-panel::after {
  content: " ";
  position: absolute;
  top: 34px;
  right: 100%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  box-shadow: #000000 0 0 20px -10px;
}