.side-bar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  background-color: $back;
  box-shadow: inset #000000 -20px 0px 25px -25px;
  @include box_sizing;
  z-index: 50;
  padding: 16px 0;
}

.nav-button, .nav-avatar {
  width: 72px;
  height: 72px;
  padding: 12px;
  float: left;
  @include box_sizing;

  .material-icons {
    font-size: 36px;
    padding: 5px;
  }
}

.nav-avatar {
  .avatar {
    height: 100%;
    width: 100%;
    border-radius: 35px;
  }
}

.nav-button {
  cursor: pointer;

  &:hover {
    background: $back-alt;
  }

  &.settings, &.logout {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.settings {
    bottom: 72px;
  }
}

.nav-button, a.nav-button {
  color: $accent-light;
  transition: color .25s ease-in-out, background .25s ease-in-out;
  cursor: pointer;
}

.nav-button:hover, a.nav-button:hover {
  color: $accent-light;
}

.nav-button:active, .nav-button:focus, a.nav-button:active, a.nav-button:focus {
  outline: none !important;
  transition: opacity .1s ease-in-out;
  color: $accent-alt;
}

.tip {
  position: relative;
  display: inline-block;
}

.tip .tip-text {
  top: 50%;
  transform: translateY(-50%);
  left: 105%;
  width: 120px;
  background-color: rgba(10,0,0,0.85);
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 5px;
  @include box_sizing;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity .45s ease-in-out, visibility 0s linear 0.45s;
}

.tip:hover .tip-text {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s ease-in-out 0.5s, visibility 0s linear 0s;
}

.tip .tip-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right-color: rgba(10,0,0,0.85);
}
