// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-panel {
  width: 450px;
  background: #f5f5f5;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: #000000 0 0 25px -5px;
}

.login-panel-head {
  width: 100%;
  padding: 30px;
  @include box_sizing;
  background-color: $accent;
  color: $text-light;
  box-shadow: #000000 0 0 25px -5px;

  h1 {
    font-size: 50px;
  }
}

.login-panel-body {
  width: 100%;
  padding: 30px 60px;
  @include box_sizing;
}

.login-alert {
  position: relative;
  width: 100%;
  transform: none;
  animation: none;
  margin-bottom: -20px;
  cursor: default !important;
}

.profile-container {
  display: flex;
  padding: 15px;
}

.profile-left {
  flex: 3 1;
}

.profile-right {
  background: $mid;
  box-shadow: #000000 -8px 0 15px -15px;
  flex: 1 1;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.profile-block {
  position: relative;
  padding: 15px;
  display: flex;
  box-shadow: #000000 0 8px 15px -15px;
}

.avatar, .logo {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: #000000 0 0 10px -5px;
  transition: 0.25s ease-in-out;
}

.profile-info {
  flex: 1 1;
  @include box_sizing;
  padding: 10px 30px;
  cursor: default;

  h1, h2, h3 {
    margin: 10px 0;
    text-align: left;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
  }

  h3.email, h3.school {
    font-style: italic;
    font-size: 20px;
  }

  h3.email {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
  }

  .logo {
    height: 23px;
    width: 23px;
  }
}

.profile-edit-avatar, .profile-edit-info {
  flex: 1 1;
  @include box_sizing;
  padding: 10px 15px;
}

.profile-edit-avatar {
  max-width: 280px;
}

.profile-edit-info {
  flex: 2 1;
}

.record-header {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.record-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .list-record {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #dddddd;
    display: block;

    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin: 0 15px;
    }

    .list-item {
      float: left;
    }

    .list-subitem {
      color: #999;
    }

    &:hover {
      background: #f9f9f9;
    }
  }
}

.new-user-header {
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  margin:10px;
}