<div class="footer">
  <div class="divider"></div>
  <span style="float: left;">
    <%= link_to 'Formic Learning', root_path %>
    <span class="footer-faded" style="padding: 0;">by</span>
    <%= link_to 'Alex Macpherson', 'http://www.alexmacpherson.uk/' %>
    <span class="footer-faded" style="padding: 0;">© 2017 - All Rights Reserved</span>
  </span>
  <span style="float: right;">
    <%= link_to 'About Formic Learning', about_path %>
    <span class="footer-faded">-</span>
    <%= link_to 'Contact Us', contact_path %>
  </span>
</div>